/* ////////////////////////////////
///////// STYLESHEET //////////
////////////////////////////// */

body {
    margin: 0;
    padding: 0;
    background-image: url(train.jpg);
    background-repeat: round;
}

h1 {
    font-size: 40px;
    font-family: 'Faster One', cursive;
}

h3 {
    font-size: 30px;
    font-family: 'Faster One', cursive;
    color: #ffebcd;
}

.card-header {
    background: #ffdc9d;
    font-weight: bold;
}